.banner {
	display: grid;
	column-gap: 20px;

	grid-template-areas: 
		"title"
		"img"
		"description"
		"slot";
	
	&-image {
		grid-area: img;
		max-height: 350px;
		justify-self: center;
	}

	&-title {
		grid-area: title;
	}

	&-description {
		grid-area: description;
	}

	&-slot {
		grid-area: slot;

		display: grid;
		align-content: end;
	}

	&-advertisment {
		grid-area: advertisment;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			max-width: 150px;
		}

		.advertisment-text {
			color: #d62a2a;
			font-weight: 800;
			font-size: 16px;
		}
	}
}

@media(min-width: 640px) {
	.banner {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: [line-1] 100px [line-2] auto [line-3];
		grid-auto-rows: auto;
		margin: 0 50px;

		grid-template-areas: 
			"title title title title" 
			"img description description description" 
			"advertisment slot slot slot";
	}
}